<h2>My Heroes</h2>

<div>
  <label for="hero-input">Hero name: </label>
  <input id="hero-input" [(ngModel)]="heroName" placeholder="Hero name"/>
  
  <button type="button" class="search-button" (click)="search()">
    Search heroes
  </button>
  
  <button type="button" class="add-button" (click)="add()">
    Add hero
  </button>
  
  <button *ngIf="heroName" type="button" class="clear-button" (click)="clearSearch()">
    Clear search
  </button>
</div>

<div *ngIf="isSearching" class="loading">
  Searching...
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>